main {
  display: flex;
}

main div {
  padding:88px 109px;
}

main article div h1 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.titleColor  {
  color: #FF0101;
}

main article div p {
  margin-top: 41px;
  color: #000000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}