#nutrition {
  padding: unset;
  width: 258px;
  display: flex;
  justify-content: flex-start;
  margin-left: 31px;
  @media (max-width: 1440px) {
    width: 127px;
  }
}

#nutrition ul {
  width: 100%;
  padding-top: 234px;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  gap: 39px;
  @media (max-width: 1440px) {
    padding-top: 22px;
    gap: 10px;
  }
}

#nutrition .nutritionItem {
  width: 258px;
  display: flex;
  align-items: center;
  padding: 32px;
  gap: 32px;
  border-radius: 5px;
  background: #fbfbfb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  @media (max-width: 1440px) {
    width: 127px;
    flex-flow: column;
    padding: 14px;
    gap: 12px;
  }
}

#nutrition .nutritionItemValues {
  display: flex;
  flex-flow: column;
  gap: 2px;
}

#nutrition .nutritionItem figure {
  width: 60px;
  height: 60px;
  @media (max-width: 1440px) {
    width: 40px;
    height: 40px;
  }
}

#nutrition .nutritionItem figure img {
  width: 100%;
}

#nutrition .nutritionItem p:first-of-type {
  color: #282d30;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  @media (max-width: 1440px) {
    font-size: 16px;
    text-align: center;
  }
}

#nutrition .nutritionItem p:last-of-type {
  color: #74798c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  @media (max-width: 1440px) {
    font-size: 12px;
    text-align: center;
  }
}
