aside {
  background: #020203;
  width: 117px;
  min-height: 933px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

aside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 256px;
}

aside img:hover {
  cursor: pointer;
}

aside p {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transform: rotate(270deg);
  position: absolute;
  bottom: 100px;
  white-space: nowrap;
}
